include CHANGELOG.txt
include INSTALL.txt
include KNOWN_BUGS.txt
include LICENSE.txt
include MAINTAINERS.txt
include README.txt
include TODO.txt
include VERSION.txt
include doc/manygui.html
include doc/manygui.pdf
include doc/manygui.ps
include doc/manygui.txt
include doc/tutorial.txt
include demo/*
