include CHANGELOG.txt
include INSTALL.txt
include KNOWN_BUGS.txt
include LICENSE.txt
include MAINTAINERS.txt
include README.txt
include TODO.txt
include VERSION.txt
include doc/anygui.*
include demo/*
